/***********************************
Stylesheet for calculator project  *
 ***********************************/

body {
    box-sizing: border-box;
}


/*
Centers the main title
 */
header {
    display: flex;
    justify-content: center;
    color: mediumvioletred;
}


/*
Centers the description
 */
.main-container {
    display: flex;
    justify-content: center;
}


/*sizing and positioning for
all calc buttons
 */
button {
    width: 50px;
    margin: 8px;
    height: 26.3px;
}


/*
Modification/sizing and positioning
of calculator
 */
.center-calculator {
    display: flex;
    justify-content: center;

}


/*
positioning of the action buttons
 */
#big-button{
    width: 184px;
}


/*
sizing of the actions buttons
 */
.button-height{
    height: 26.3px;
}

.display {
    height: 30px;
    border-bottom: solid black 1px;
    margin-bottom: 15px;
    margin-left: 10px;
    width: 181px;
    }